@model Customer

<div class="row orderForm">
    <form asp-controller="Customer" asp-action="Create" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Stwórz nowego użytkownika</h3>
        <div class="form-group">
            <label asp-for="CustomerName" class="col-md-2 control-label">Imię i nazwisko</label>
            <div class="col-md-6">
                <input asp-for="CustomerName" class="form-control" placeholder="Wprowadź imie i nazwisko" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerEmail" class="col-md-2 control-label">Email</label>
            <div class="col-md-6">
                <input asp-for="CustomerEmail" class="form-control" placeholder="Wprowadź email" />
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label">Hasło</label>
            <div class="col-md-6">
                <input asp-for="Password" type="password" class="form-control" placeholder="Wprowadź haslo" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShippingAddress" class="col-md-2 control-label">Adres</label>
            <div class="col-md-6">
                <input asp-for="ShippingAddress" class="form-control" placeholder="Wprowadź adres zamieszkania" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Wróć" asp-controller="Customer" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Stwórz" />
            </div>
        </div>
    </form>
</div>
